@inherits LayoutComponentBase

<div class="app-shell">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content app-content">
                @Body
            </article>
        </main>
    </div>
</div>